<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">


</head>


<body>


    <div class="container floating">

        <img src="Images/lotus-with-hands-1889661_1280.png" alt="lotus logo with hands">
        <h2 id="TGIF">Transparent Government in Fact</h2>

        <a class="mail" href="mailto:info@tgif.net" target="_top" class="mail"><i class="fa fa-envelope"></i> info@tgif.net</a>
        <!-- <p>https://www.whitehouse.gov/the_press_office/TransparencyandOpenGovernment</p>-->

    </div>
    <div class="container">


         <nav>

            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" id="navbardrop" data-toggle="dropdown" href="#">Congress 113</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="house-data.html">House</a>
                        <a class="dropdown-item" href="senate-data.html">Senate</a></div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" href="#">Attendance</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="house-attendance.html">House</a>
                        <a class="dropdown-item" href="senate-attendance.html">Senate</a></div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" href="#">Party Loyalty</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="house-party-loyalty.html">House</a>
                        <a class="dropdown-item" href="senate-party%20loyalty.html">Senate</a></div>
                </li>
            </ul>

        </nav>




        <div class="pic"><img src="Images/pexels-photo-590011.jpeg" alt=""></div>
        <div id="main">
            <div id="loader" v-if="seen"></div>

            <div v-else>
                <div class="animate-bottom">


                    <div class="row">
                        <div class="col-lg-8">
                            <h2>Senators</h2>
                            <p class="text-justify">First convened in 1789, the composition and powers of the Senate are established in Article One of the U.S. Constitution. Each state is represented by two senators, regardless of population, who serve staggered six-year terms. The Senate has several exclusive powers not granted to the House, including consenting to treaties as a precondition to their ratification and consenting to or confirming appointments of Cabinet secretaries, federal judges, other federal executive officials, military officers, regulatory officials, ambassadors, and other federal uniformed officers, as well as trial of federal officials impeached by the House.</p>

                        </div>
                    </div>



                    <div class="checkboxes" id="click">
                        <h4>Party Affiliation</h4>

                        <input type="checkbox" name="party affiliation" @click="filter" value="democrat" id="democrat" checked>Democrat
                        <input type="checkbox" name="party affiliation" v-on:click="filter" value="republican" id="republican" checked>Republican
                        <input type="checkbox" name="party affiliation" v-on:click="filter" value="independent" id="independent" checked>Independent


                    </div>

                    <div>
                        <table id="senate-data" class="table table-striped">
                            <thead>
                                <th class="column width">Senator</th>
                                <th class="column width">Party Affiliation</th>
                                <th class="column width">State
                                    <form name="filter" id="FilterForm" action="" method="">
                                        <div id="select-filter">
                                            <select id="state-filter" class="filter" v-on:change="filter"> 
                <option value="all">All</option>
                <option v-for="state in states" :value='state'>{{state}}</option>
                </select>
                                        </div>
                                    </form>
                                </th>
                                <th class="column width">Years in Office</th>
                                <th class="column width">Percentage of Votes</th>
                            </thead>

                            <tbody id="table-body">
                                <tr v-for="member in members">
                                    <td>{{member.first_name}} <span v-if="member.middle_name">{{member.middle_name}} </span> {{member.last_name}}</td>
                                    <td>{{member.party}}</td>
                                    <td>{{member.state}}</td>
                                    <td>{{member.seniority}}</td>
                                    <td>{{member.votes_with_party_pct}} %</td>
                                </tr>

                            </tbody>

                        </table>
                        <p id="alert">Please select a checkbox!</p>
                    </div>

                    <div class="ft" class="border border-light">
                        <div class="footer-copyright text-center py-3">© 2018 Copyright: All Rights Reserved
                            <!--<a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>-->
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!--        <script src="pro-congress-113-senate.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!--    <script src="main_1.js"></script>-->
    <script src="main_vue.js"></script>

</body>



</html>
